{% extends '::base.html.twig' %}

{% block content %}
    {#{{ dump(data.repositories) }}#}
    <div class="content-wrapper">
        <h1>Browse Repositories for keyword "Symfony"</h1>

        {#<div class="filters"></div>#}

        <div class="row">
            <div class="col-sm-12">
                {% if data.repositories is not empty %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Owner</th>
                            <th width="400">Description</th>
                            <th>Language</th>
                            <th>Size</th>
                            <th>Forks</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repository in data.repositories %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ repository.name }}</td>
                            <td>{{ repository.owner }}</td>
                            <td>{{ repository.description }}</td>
                            <td>{{ repository.language }}</td>
                            <td>{{ repository.size | formatSize }}</td>
                            <td>{{ repository.forks }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>
                        No repositories found for keyword "<strong>Symfony</strong>"!
                    </p>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
